body {
    margin: auto;
}

h1 {
    font-family: "Edwardian Script ITC";
    font-size: 100px;
}

h4 {
    font-size: 48px;
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    color: #B0413E;
}

button:hover {
    background-color: #B0413E;
    color: white;
}

#main-content-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.shoe-container {
    display: flex;
    flex-wrap: wrap;
}

.shoe-content {
    background-color: aliceblue;
    padding: 2rem;
    margin: 1rem;
    border-radius: 20%;
}

.clothes-container {
    display: flex;
    flex-wrap: wrap;
}

.clothes-content {
    background-color: aliceblue;
    padding: 2rem;
    margin: 1rem;
    border-radius: 20%;
}
