<form method="post" action="{{ path('app_clothes_delete', {'id': clothes.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clothes.id) }}">
    <button class="btn">Supprimer l'article</button>
</form>
