{% extends 'base.html.twig' %}

{% block title %}The Side Shop{% endblock %}

{% block body %}
    <body class="text-center">
    <h1>The Side Shop</h1>

    <p style="font-size: 32px">Création d'un nouvel article</p>

    {{ include('clothes/_form.html.twig') }}

    <a href="{{ path('app_clothes_index') }}">Revenir sur la liste des articles</a>
    </body>
{% endblock %}
