{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}
    <body>
        <header id="main-header-content">
            <div id="title">
                <h4>Bienvenue sur vente de Chaussures.com !</h4>
            </div>
            <div id="routes">
                <a href="">Menu</a>
                <a href="">Notre histoire</a>
                <a href="">Mon compte</a>
            </div>
        </header>
        <div id="display-content">
            COUCOU
        </div>
    </body>
{% endblock %}

{% block footer %}
    <footer id="main-footer-content">

    </footer>
{% endblock %}