{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}
    <body >
    <header id="main-header-content">
        <h1 class="text-center ">The Side Shop</h1>
        <div id="routes" class="row text-center navbar navbar-inverse">
            <a href="{{ path('home') }}" class="col-md-3">Accueil</a>
            <a href="{{ path('app_shoes_index') }}" class="col-md-3">Chaussures</a>
            <a href="{{ path('app_clothes_index') }}" class="col-md-3">Vêtements</a>
            <a href="" class="col-md-3">À propos de nous</a>
        </div>
    </header>
    <div id="scroll-container">
        <div id="scroll-text"><em>Nouvelle collection disponible !</em><div>
            </div>
        </div>
    </div>
    <div class="main-content-display">
        <img id="storefront" class="figure-img mx-auto d-block" src="{{ asset('assets/clothes-shop-storefront.png') }}" alt="Façade de notre magasin en photo">
    </div>
    </body>
    <footer id="main-footer-content">

    </footer>
{% endblock %}
